@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpoqaHanSansNeo-Regular', 'sans-serif';
}
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  .headerBtns {
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #dbdbdb;
    .headerIcon {
      width: 22px;
      height: 22px;
    }
  }
  .postCard {
    width: 375px;
    padding: 20px 16px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    .commonProfileHeader {
      display: flex;
      position: relative;
      .profileImg {
        width: 42px;
        height: 42px;
      }
      .profileTextBox {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        .nickName {
          margin: 4px 0 2px 0;
          font-size: 14px;
          font-weight: 500;
        }
        .idName {
          color: #767676;
          font-size: 12px;
        }
      }
      .commonSetting {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .postCardMain {
      position: relative;
      left: 54px;
      width: calc(100% - 54px);
      .postCardMainTextBox {
        padding-bottom: 16px;
        .postCardMainText {
          font-size: 14px;
          font-weight: 400;
          line-height: 17.53px;
        }
      }

      .fileImgArea {
        width: 100%;
        padding-bottom: 12px;
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
        .imgUl {
          display: flex;
          .imgLi {
            position: relative;
            margin-right: 8px;
            border-radius: 10px;
            overflow: hidden;
            width: 304px;
            .postImg {
              width: 100%;
            }
          }
        }
      }

      .commentBox {
        padding-bottom: 20px;
        width: 98px;
        display: flex;

        // justify-content: space-between;
        .likeBtnBox {
          display: flex;
          padding: 4px;
          margin-right: 14px;
          .likeBtn {
            width: fit-content;
            margin-right: 7px;
            .likeBtnImg {
              max-width: 15px;
            }
          }
          .likeTxt {
            font-size: 12px;
            line-height: 18px;
            color: #767676;
          }
        }
      }
      .date {
        font-size: 10px;
        width: 80px;
        font-weight: 400;
        color: #767676;
      }
    }
  }
  .dividingLine {
    border-bottom: 1px solid #dbdbdb;
    margin-top: 8px;
    margin-bottom: 26px;
  }
  .commentComponent {
    width: 375px;
    margin: 0 auto;
    padding: 0 16px 16px;
    .commentProfileInfo {
      display: flex;
      position: relative;
      padding-right: 16px;
      padding-bottom: 20px;
      .commentProfileImg {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding-right: 10px;
      }
      .commentAndNames {
        display: flex;
        flex-direction: column;
        line-height: 20px;
        .commentNames {
          display: flex;
          flex-direction: row;
          padding-bottom: 5px;
          .commentNickName {
            font-size: 14px;
            padding-top: 6px;
          }
          .commentWrittenTime {
            margin-left: 6px;
            font-size: 10px;
            padding-top: 9px;
            line-height: 12px;
            color: #767676;
          }
        }
        .commentText {
          font-size: 14px;
          line-height: 18px;
          color: #333333;
        }
      }
      .commonSetting {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .inputComponent {
    border-top: 1px solid #dbdbdb;
    margin-top: 50px;
    padding: 13px 16px 12px;
    position: relative;
    display: flex;
    .inputProfileImg {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    .commentForm {
      flex: 1;
      .inputCommentText {
        width: 100%;
        display: block;
        appearance: none;
        border: none;
        box-sizing: border-box;
        padding: 10px 18px 10px 18px;
        font-size: 14px;
        &::placeholder {
          color: #c4c4c4;
        }
      }
    }
    .commentPostBtn {
      width: 26px;
      padding-top: 2px;
      color: #b3a49b;
      right: 16px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
// 화면 줄였을 때, html 밖 부분 없애야 함.
