@charset "UTF-8";
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpoqaHanSansNeo-Regular', 'sans-serif';
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*로그아웃 확인 모달, 게시글 삭제 모달*/
  /* 게시글 설정 모달, 상품 설정 모달 */
}

body .headerBtns {
  padding: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #dbdbdb;
}

body .headerBtns .headerIcon {
  width: 22px;
  height: 22px;
}

body .postCard {
  width: 375px;
  padding: 20px 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}

body .postCard .commonProfileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body .postCard .commonProfileHeader .profileImg {
  width: 42px;
  height: 42px;
}

body .postCard .commonProfileHeader .profileTextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
}

body .postCard .commonProfileHeader .profileTextBox .nickName {
  margin: 4px 0 2px 0;
  font-size: 14px;
  font-weight: 500;
}

body .postCard .commonProfileHeader .profileTextBox .idName {
  color: #767676;
  font-size: 12px;
}

body .postCard .commonProfileHeader .commonSetting {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
}

body .postCard .postCardMain {
  position: relative;
  left: 54px;
  width: calc(100% - 54px);
}

body .postCard .postCardMain .postCardMainTextBox {
  padding-bottom: 16px;
}

body .postCard .postCardMain .postCardMainTextBox .postCardMainText {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.53px;
}

body .postCard .postCardMain .fileImgArea {
  width: 100%;
  padding-bottom: 12px;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

body .postCard .postCardMain .fileImgArea .imgUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .postCard .postCardMain .fileImgArea .imgUl .imgLi {
  position: relative;
  margin-right: 8px;
  border-radius: 10px;
  overflow: hidden;
  width: 304px;
}

body .postCard .postCardMain .fileImgArea .imgUl .imgLi .postImg {
  width: 100%;
}

body .postCard .postCardMain .commentBox {
  padding-bottom: 20px;
  width: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .postCard .postCardMain .commentBox .likeBtnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  margin-right: 14px;
}

body .postCard .postCardMain .commentBox .likeBtnBox .likeBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 7px;
}

body .postCard .postCardMain .commentBox .likeBtnBox .likeBtn .likeBtnImg {
  max-width: 15px;
}

body .postCard .postCardMain .commentBox .likeBtnBox .likeTxt {
  font-size: 12px;
  line-height: 18px;
  color: #767676;
}

body .postCard .postCardMain .date {
  font-size: 10px;
  width: 80px;
  font-weight: 400;
  color: #767676;
}

body .dividingLine {
  border-bottom: 1px solid #dbdbdb;
  margin-top: 8px;
  margin-bottom: 26px;
}

body .commentComponent {
  width: 375px;
  margin: 0 auto;
  padding: 0 16px 16px;
}

body .commentComponent .commentProfileInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 16px;
  padding-bottom: 20px;
}

body .commentComponent .commentProfileInfo .commentProfileImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding-right: 10px;
}

body .commentComponent .commentProfileInfo .commentAndNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
}

body .commentComponent .commentProfileInfo .commentAndNames .commentNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 5px;
}

body .commentComponent .commentProfileInfo .commentAndNames .commentNames .commentNickName {
  font-size: 14px;
  padding-top: 6px;
}

body .commentComponent .commentProfileInfo .commentAndNames .commentNames .commentWrittenTime {
  margin-left: 6px;
  font-size: 10px;
  padding-top: 9px;
  line-height: 12px;
  color: #767676;
}

body .commentComponent .commentProfileInfo .commentAndNames .commentText {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

body .commentComponent .commentProfileInfo .commonSetting {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  top: 5px;
}

body .inputComponent {
  border-top: 1px solid #dbdbdb;
  margin-top: 50px;
  padding: 13px 16px 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .inputComponent .inputProfileImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

body .inputComponent .commentForm {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .inputComponent .commentForm .inputCommentText {
  width: 100%;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 18px 10px 18px;
  font-size: 14px;
}

body .inputComponent .commentForm .inputCommentText::-webkit-input-placeholder {
  color: #c4c4c4;
}

body .inputComponent .commentForm .inputCommentText:-ms-input-placeholder {
  color: #c4c4c4;
}

body .inputComponent .commentForm .inputCommentText::-ms-input-placeholder {
  color: #c4c4c4;
}

body .inputComponent .commentForm .inputCommentText::placeholder {
  color: #c4c4c4;
}

body .inputComponent .commentPostBtn {
  width: 26px;
  padding-top: 2px;
  color: #b3a49b;
  right: 16px;
  font-size: 14px;
  font-weight: bold;
}

body .mainModal {
  position: fixed;
  display: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 22px -4px #b1b1b1;
          box-shadow: 0px -5px 22px -4px #b1b1b1;
  z-index: 20;
}

body .mainModal::after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 12px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

body .mainModal .mainModalList {
  padding-top: 36px;
}

body .mainModal .mainModalList li {
  display: block;
  text-align: center;
  padding: 14px 0 14px 26px;
}

body .mainModal .mainModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

body .wrapSubModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

body .wrapSubModal .subModal {
  width: 252px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  border-radius: 10px;
  background-color: #fff;
}

body .wrapSubModal .subModal .txtSubModal {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 22px 0;
}

body .wrapSubModal .subModal .wrapSubModalBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dbdbdb;
}

body .wrapSubModal .subModal .wrapSubModalBtns .btnCancelLogout {
  padding: 14px 0;
  font-size: 14px;
  border-right: 1px solid #dbdbdb;
}

body .wrapSubModal .subModal .wrapSubModalBtns .btnCancelDel {
  padding: 14px 0;
  font-size: 14px;
  border-right: 1px solid #dbdbdb;
}

body .wrapSubModal .subModal .wrapSubModalBtns .btnOkLogout {
  padding: 14px 0;
  font-size: 14px;
  text-decoration: none;
  color: #664836;
}

body .wrapSubModal .subModal .wrapSubModalBtns .btnOkDel {
  padding: 14px 0;
  font-size: 14px;
  text-decoration: none;
  color: #664836;
}

body .postModal {
  position: fixed;
  display: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
          box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
  z-index: 10;
}

body .postModal::after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 25px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

body .postModal .postModalList {
  padding-top: 36px;
}

body .postModal .postModalList li {
  display: block;
  text-align: center;
  padding: 14px 0;
}

body .postModal .postModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

body .postModal .postModalList li a:hover {
  color: #664836;
}

body .productModal {
  position: fixed;
  display: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
          box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
  z-index: 10;
  margin-bottom: -24px;
}

body .productModal:after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 25px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

body .productModal .productModalList {
  padding-top: 36px;
}

body .productModal .productModalList li {
  display: block;
  text-align: center;
  padding: 14px 0;
}

body .productModal .productModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

body .productModal .productModalList li a:hover {
  color: #664836;
}

body .displayModal {
  display: block;
}
/*# sourceMappingURL=postDetail.css.map */