@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpoqaHanSansNeo-Regular', 'sans-serif';
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .headerBtns {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    .iconArrowLeft {
      width: 22px;
      height: 22px;
      padding-top: 5px;
    }
    .uploadBtn {
      width: 90px;
      background-color: #ffc7a7;
      border-radius: 32px;
      height: 32px;
      font-size: 14px;
      color: #fff;
    }
  }
  .uploadCard {
    padding: 20px 16px;
    position: relative;
    display: flex;
    .profileImg {
      width: 42px;
      height: 42px;
    }
    .textImgPart {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .uploadBoxText {
        margin-left: 14px;
        padding-top: 12px;
        border: none;
        resize: none;
      }
      .fileImgArea {
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
        .imgUl {
          display: flex;
          .imgLi {
            position: relative;
            margin-right: 8px;
            border-radius: 10px;
            overflow: hidden;
            width: 168px;
            .deleteImg {
              position: absolute;
              top: 11.5px;
              right: 11.5px;
              width: 22px;
              height: 22px;
              background: url('../../img/icon/icon-delete-shadow.svg') no-repeat
                center;
              background-size: contain;
              cursor: pointer;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .fileUploadBtn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 50px;
    cursor: pointer;
  }
  input[type='file'] {
    display: none;
  }
}
