@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

#app {
  width: 100%;
  height: 100vh;
}

/* header */

.wrapHeaderNav {
  height: 48px;
  padding: 12px 12px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #dbdbdb;
  background-color: #fff;
  box-sizing: border-box;
}

.wrapHeaderNav .btnBack,
.wrapHeaderNav .btnSetting {
  width: fit-content;
}

.wrapHeaderNav .btnBack,
.wrapHeaderNav .chatUser {
  display: inline-block;
}

.wrapHeaderNav .chatUser {
  vertical-align: 5px;
  font-size: 14px;
  font-weight: 500;
}

/* main */

#app main {
  overflow-y: scroll;
  height: calc(100% - 112px);
  background-color: #f2f2f2;
}

main .contChatRoom {
  padding: 20px 16px;
}

main .chatRoom {
  display: flex;
  flex-direction: column;
}

/* 채팅창 공통 스타일 */

.chatRoom .chatContent {
  margin-bottom: 9px;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
}

.chatRoom .chatContent:last-child {
  margin-bottom: 0;
}

.chatContent .chatText {
  max-width: 240px;
  padding: 12px;
  line-height: 18px;
}

.chatContent .chatTime {
  align-self: flex-end;
  font-style: normal;
  font-size: 10px;
  color: #767676;
}

.chatContent .chatImg {
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

/* 상대방 채팅 내용 */

.yourChatContent .chatUserProfile {
  margin-right: 12px;
  width: 42px;
  height: 42px;
}

.yourChatContent .chatText {
  margin-right: 6px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 0 12px 12px 12px;
}

/* 나의 채팅 내용 */

.chatRoom .myChatContent {
  justify-content: flex-end;
}

.myChatContent .chatText {
  margin-left: 6px;
  background-color: #f26e22;
  color: #ffffff;
  border-radius: 12px 0 12px 12px;
}

/* 메시지 입력 창 */

#app .contChatForm {
  width: 100%;
  padding: 12px 20px 12px 16px;
  background-color: #ffffff;
  border-top: 0.5px solid #dbdbdb;
  box-sizing: border-box;
}

.chatForm .labelImgUpload {
  display: inline-block;
  margin-right: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/img-btn.png);
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.chatForm .inputChatText {
  width: calc(100% - 110px);
  vertical-align: 13px;
  border: none;
  outline: none;
  line-height: 18px;
  font-size: 14px;
}

.chatForm .inputChatText::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}

.chatForm .btnTextSubmit {
  float: right;
  margin-left: 18px;
  width: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #c4c4c4;
}

.chatForm .btnActive {
  color: #f26e22;
}

/* 전송 버튼에 대한 clear fix */
#app .chatForm::after {
  content: '';
  display: block;
  clear: both;
}

/* 채팅방 모달 */
.mainModal {
  position: absolute;
  display: none;
  width: 100%;
  box-sizing: border-box;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0px -5px 22px -4px rgb(166 166 166 / 75%);
  z-index: 20;
}

.mainModal::after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 12px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.mainModal .mainModalList {
  padding-top: 36px;
}

.mainModal .mainModalList li {
  display: block;
  text-align: center;
  padding: 14px 0 14px 26px;
}

.mainModal .mainModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.displayModal {
  display: block;
}

/* 채팅방 모달 배경 */
.wrapSubModal {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10;
}

@media (max-width: 390px) {
  #app {
    width: 375px;
  }
}
