@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

#app {
  width: 100%;
  height: 100vh;
}

/* header */
.wrapHeaderNav {
  height: 48px;
  padding: 12px 12px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #dbdbdb;
  background-color: #fff;
  box-sizing: border-box;
}

.wrapHeaderNav .btnBack,
.wrapHeaderNav .btnSetting {
  width: fit-content;
}

.wrapHeaderNav .btnBack {
  display: inline-block;
}

/* 채팅 리스트 */

#app .contChatList {
  margin: 0 auto;
  padding: 24px 16px;
  max-width: 390px;
}

.contChatList .userContent {
  position: relative;
  cursor: pointer;
}

.contChatList .userContent::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  border-radius: 50%;
  background-color: #664836;
}

.chatList .chatProfile {
  display: inline-block;
  margin-right: 12px;
  width: 42px;
  height: 42px;
  vertical-align: -5px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.chatList .chatItem {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.chatList .chatItem:last-child {
  margin-bottom: 0;
}

.chatItem .userName {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: black;
}

.chatItem .linkChatRoom {
  text-decoration: none;
}

.chatItem .userText {
  font-size: 12px;
  line-height: 15px;
  color: #767676;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatItem .chatInfo {
  display: inline-block;
}

.chatItem .chatDate {
  display: block;
  font-size: 10px;
  line-height: 13px;
  color: #dbdbdb;
  align-self: flex-end;
}

/* 하단메뉴 */
.contNav {
  width: 100%;
  border-top: 0.5px solid #dbdbdb;
  background-color: #fff;
  box-sizing: border-box;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.navList li:hover,
.navList li:focus {
  opacity: 0.7;
}

.navList img {
  width: 84px;
}

.navList li,
.navList button {
  height: 60px;
}

@media (max-width: 390px) {
  #app {
    width: 375px;
  }
}
