/* layout */
.wrap {
  max-width: 390px;
  min-height: 840px;
  margin: 0 auto;
  padding: 0 34px;
  box-sizing: border-box;
  border: 1px solid royalblue;
}

.login-header .title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin: 30px 0 40px;
}

.login label {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

input[class*="-input"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 16px;
  width: 100%;
  height: 25px;
}

input[class*="-input"]:focus {
  border-bottom: 1px solid #F26E22;
}

.login-button {
  display: block;
  font-size: 14px;
  font-weight: 500;
  border: none;
  color: white;
  background-color: #F26E22;
  width: 100%;
  height: 44px;
  border-radius: 44px;
  margin-bottom: 20px;
}

.text-align {
  text-align: center;
}

.link-sign-up {
  text-decoration: none;
  color: #767676;
  font-size: 12px;
  font-weight: 400;
}