@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SpoqaHanSansNeo-Regular', 'sans-serif';
}

body {
  width: 100%;
  height: 100vh;
}

main {
  height: calc(100% - 116px);
  overflow-y: scroll;
}

footer {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  right: 0;
  left: 0;
}
.wrapHeaderNav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dbdbdb;
  background-color: #fff;
}

.wrapHeaderNav .btnBack,
.wrapHeaderNav .btnSetting {
  display: block;
  width: fit-content;
  padding: 13px;
}

.contProfile {
  width: 390px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
  margin: 0 auto;
}

/* 프로필 사진, follower */
.userInfo {
  display: flex;
  justify-content: center;
  padding: 30px 0 16px;
}

.imgProfile {
  padding: 0 41px;
}

.userInfo .btnFollwers,
.userInfo .btnFollwings {
  display: block;
  width: 43px;
}

.userInfo .btnFollwers strong,
.userInfo .btnFollwings strong {
  font-weight: 700;
  font-size: 18px;
}

.userInfo .btnFollwings strong {
  color: #767676;
}

.userInfo .btnFollwers span,
.userInfo .btnFollwings span {
  font-weight: 400;
  font-size: 10px;
  color: #767676;
}

/* 사용자 마켓 정보 */
.userDetail {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.userDetail .marketName {
  font-weight: 700;
  font-size: 16px;
}

.marketId {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  color: #767676;
}

.userDetail .marketId {
  margin: 0 auto;
  padding: 6px 0 16px;
}

.userDetail .marketDetail {
  font-weight: 400;
  font-size: 14px;
  color: #767676;
}

/* SNS */
.userSettings {
  width: fit-content;
  margin: 24px auto;
}

.userSettings .btnEditProfile,
.userSettings .btnAddProduct {
  width: 100px;
  height: 34px;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  font-size: 14px;
  color: #767676;
}

.userSettings .btnEditProfile {
  margin-right: 12px;
}

.userSettings .btnEditProfile:hover,
.userSettings .btnAddProduct:hover {
  color: #f26e22;
  border: 1px solid #f26e22;
}

.userSettings .btnEditProfile:focus,
.userSettings .btnAddProduct:focus {
  color: #f26e22;
  border: 1px solid #f26e22;
}

/* 판매상품 */
.contSale {
  padding: 20px 0 20px 16px;
  width: 390px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contSale h1 {
  font-weight: 700;
  font-size: 16px;
}

.contSale .productList {
  display: flex;
  overflow-x: scroll;
}

.contSale .productList li {
  background-color: #fff;
  margin: 16px 10px 6px 0;
}

.productList li img {
  font-weight: 400;
  border-radius: 8px;
}

.productList li .prodcutTitle {
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 6px;
}
.productList li .prodcutPrice {
  color: #f26e22;
  font-weight: 700;
  font-size: 12px;
  padding-right: 97px;
}

/* 그리드 게시글 */
.contPost {
  width: 390px;
  box-sizing: border-box;
  border-top: 0.5px solid #dbdbdb;
  margin: 0 auto;
  overflow: hidden;
}

.contPost .postType {
  width: 390px;
  box-sizing: border-box;
  padding: 9px 16px;
  margin: 0 auto;
  border-bottom: 0.5px solid #dbdbdb;
  overflow: hidden;
}

.contPost .postType .button {
  width: fit-content;
  float: right;
  padding-left: 10px;
}

.contPost .postType .button:hover,
.contPost .postType .button:focus {
  filter: invert(0.5);
}

.wrapPost {
  width: 390px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px 16px 30px;
}

.wrapPost .postGridList {
  display: grid;
  grid-template-columns: repeat(3, 114px);
  gap: 8px;
  justify-content: center;
}

.wrapPost .postGridList li .imgGrindPost {
  width: 114px;
}

/*목차형 게시글*/
.postIndexList {
  width: 346px;
}

.postIndexList li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.postIndexList li .imgPostProfile {
  width: 42px;
}

.postIndexCont {
  width: 304px;
}

.postIndexCont .btnPostSetting {
  display: block;
  float: right;
  width: fit-content;
}

.postIndexCont .btnPostSetting:hover,
.postIndexCont .btnPostSetting:focus {
  filter: invert(0.5);
}

.postIndexCont .titleMarket {
  font-size: 14px;
}

.postIndexCont .marketId {
  padding: 6px 0 16px;
}

.postIndexCont .postIndexText {
  font-size: 14px;
  line-height: 18px;
}

.postIndexCont .imgIndexPost {
  margin-top: 16px;
}

.wrapBtnReaction button {
  width: 37px;
  margin: 14px 18px 0 0;
  font-size: 12px;
  color: #767676;
}

.wrapBtnReaction button img {
  display: inline-block;
  width: 15px;
  margin: -3px;
}

.wrapBtnReaction button span {
  display: inline-block;
  width: 15px;
  margin-left: 7px;
}

.postIndexCont .dateTxt {
  padding-top: 18px;
  font-size: 10px;
  color: #767676;
}

.activeBtnLike {
  background-image: url(../img/icon/icon-heart-active.png);
  background-position: center;
  background-size: 15px;
}

.activeBtnComment {
  background-image: url(../img/icon/icon-message-circle-fill.png);
  background-position: center;
  background-size: 15px;
}

/* 하단메뉴 */
.contNav {
  border-top: 0.5px solid #dbdbdb;
}

.navList {
  display: flex;
  justify-content: space-between;
}

.navList li {
  display: inline-block;
}

.navList li:hover,
.navList li:focus {
  opacity: 0.7;
}

.navList li a img {
  width: 84px;
}

/*메인 모달*/
.mainModal {
  position: absolute;
  display: none;
  width: 100%;
  box-sizing: border-box;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
  z-index: 10;
}

.mainModal::after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 12px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.mainModal .mainModalList {
  padding-top: 36px;
}

.mainModal .mainModalList li {
  display: block;
  text-align: center;
  padding: 14px 0 14px 26px;
}

.mainModal .mainModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.mainModal .mainModalList li a:hover {
  color: #f26e22;
}

/*로그아웃 모달*/
.wrapLogoutModal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 10;
}

.wrapLogoutModal .logoutModal {
  width: 252px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  border-radius: 10px;
  background-color: #fff;
}

.logoutModal .txtLogout {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 22px 0;
}

.logoutModal .wrapLogoutButtons {
  display: flex;
  border-top: 1px solid #dbdbdb;
}

.wrapLogoutButtons .btnCancelLogout,
.wrapLogoutButtons .btnOkLogout {
  padding: 14px 0;
  font-size: 14px;
}

.wrapLogoutButtons .btnCancelLogout {
  border-right: 1px solid #dbdbdb;
}

.wrapLogoutButtons .btnOkLogout {
  text-decoration: none;
  color: #f26e22;
}

/* 게시글 설정 모달 */
.postModal {
  position: absolute;
  display: none;
  width: 100%;
  box-sizing: border-box;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0px -5px 22px -4px rgba(166, 166, 166, 0.75);
  z-index: 10;
}

.postModal::after {
  display: block;
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  left: calc(50% - 12px);
  top: 16px;
  border-radius: 5px;
  background-color: #dbdbdb;
}

.postModal .postModalList {
  padding-top: 36px;
}

.postModal .postModalList li {
  display: block;
  text-align: center;
  padding: 14px 0 14px 26px;
}

.postModal .postModalList li a {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

.postModal .postModalList li a:hover {
  color: #f26e22;
}

.displayModal {
  display: block;
}

@media (max-width: 390px) {
  header,
  main {
    width: 375px;
    margin: 0 auto;
  }
}
