@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

#app {
  width: 100vw;
  height: 100vh;
}

#app .nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 30px;
  border-bottom: 0.5px solid #dbdbdb;
  padding: 8px 16px;
  height: 48px;
  box-sizing: border-box;
}

#app .nav img {
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.nav .button-back {
  width: fit-content;
}

.nav .button-save {
  width: 90px;
  height: 32px;
  border-radius: 32px;
  background: #ffc7a7;
  color: #ffffff;
  cursor: pointer;
}

.form-product .screen-product-img button {
  width: fit-content;
}

#app .product {
  padding: 0 34px;
}

#app .product .product-content {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
  font-style: normal;
  font-weight: 400;
  font-family: "Spoqa Han Sans Neo";
}

.product .product-img-upload {
  margin-bottom: 18px;
}

.product .form-product .screen-product-img {
  position: relative;
  margin-bottom: 30px;
  height: 204px;
  border: 0.5px solid #dbdbdb;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.form-product .screen-product-img img {
  position: absolute;
  right: 12px;
  bottom: 12px;
  cursor: pointer;
}

.form-product .title-product {
  margin-bottom: 10px;
}

.form-product .input-product {
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 16px;
  width: 100%;
  height: 33px;
  font-size: 14px;
  box-sizing: border-box;
}

.form-product .input-product:focus {
  outline: none;
  border-bottom: 1px solid #ffc7a7;
}

.form-product .input-product::placeholder {
  color: #dbdbdb;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 400px) {
  #app {
    width: 390px;
  }
}
