@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
}

body{
    width: 100%;
    font-family: 'SpoqaHanSansNeo-Regular';
}

/* header, main{
    width: 390px;
    margin: 0 auto;
} */


.wrapHeaderNav{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #DBDBDB;
    background-color: #fff;
}

.wrapHeaderNav .btnBack, 
.wrapHeaderNav .btnSetting{
    display: block;
    width: fit-content;
    padding: 13px;

}

.contProfile{
    background-color: #fff;
    border: 0.5px solid #DBDBDB;
}

/* 프로필 사진, follower */
.userInfo{
    display: flex;
    justify-content: center;
    padding: 30px 0 16px;
}

.imgProfile{
    padding: 0 41px;
}

.userInfo .btnFollwers, 
.userInfo .btnFollwings{
    display: block;
    width: 43px;
}

.userInfo .btnFollwers strong,
.userInfo .btnFollwings strong{
    font-weight: 700;
    font-size: 18px;
}

.userInfo .btnFollwings strong{
    color: #767676 ;
}

.userInfo .btnFollwers span,
.userInfo .btnFollwings span{
    font-weight: 400;
    font-size: 10px;
    color: #767676; 
}

/* 사용자 마켓 정보 */
.userDetail{
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.userDetail .marketName{
    font-weight: 700;
    font-size: 16px;
}

.userDetail .marketId{
    font-weight: 400;
    font-size: 12px;
    padding: 6px 0 16px;
    color: #767676;
}

.userDetail .marketDetail{
    font-weight: 400;
    font-size: 14px;
    color: #767676;
}

/* SNS */
.userSns{
    display: flex;
    justify-content: center;
    padding: 24px 0 26px;
}

.userSns .btnKakao, 
.userSns .btnShare{
    width: 34px;
    height: 34px;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    background-color: white;
}

.userSns .btnFollow{
    width: 120px;
    margin: 0 10px;
    border: 1px solid #DBDBDB;
    border-radius: 30px;
    color: #767676;
    font-weight: 500;
    font-size: 14px;
}

/* 판매상품 */
.contSale{
    padding: 20px 0;
    width: 390px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contSale h1{
    margin-left: 16px;
    font-weight: 700;
    font-size: 16px;
}

.contSale .productList{
    display: flex;
    
}

.contSale .productList li{
    background-color: #fff;
    margin: 16px 5px 6px 5px;
}

.contSale .productList li:nth-child(1){
    margin-left: 16px;
}


.productList li img{
    font-weight: 400;
    border-radius: 8px;
}

.productList li .prodcutTitle{
    font-size: 14px;
    padding: 6px 0 4px;
    text-align: left;
}

.productList li .prodcutPrice{
    color: #F26E22;
    font-weight: 700;
    font-size: 12px;
    padding-right: 97px;
}

/* 게시글 */
.contPost{
    border: 0.5px solid #DBDBDB;
}

.contPost .postType{
    width: 390px;
    padding: 9px 16px;
    margin: 0 auto;
    border-bottom: 0.5px solid #DBDBDB;
    overflow: hidden;
}

.contPost .postType .button{
    width: fit-content;
    float: right;
    padding-left: 10px;
}

.postGrid{
    width: 390px;
    margin: 0 auto;
    padding: 16px 0 30px;
}

.postGrid .postGridList{
    display: grid;
    grid-template-columns: repeat(3, 114px);
    gap: 8px;
    justify-content: center;
}

.postGrid li img{
    width: 114px;
}

/* 하단메뉴 */
.contNav{
    border: 0.5px solid #DBDBDB;
}

.navList{
    width: 390px;
    margin: 0 auto;
}

.navList li{
    padding: 12px 30px 24px;
    display: inline-block;
}

.navList li img{
    width: 24px;
}


@media (max-width: 400px) {
    header, main{
        width: 390px;
        margin: 0 auto;
    }
}